{% extends "base.html" %}
{% load verbatim %}
{% load url from future %}

{% block title %}
Profile : {{filename}}
{% endblock %}

{% block extra_head %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/profile.css" />
<!--script src="{{ STATIC_URL }}js/jquery-1.8.2.js"></script>
<script src="{{ STATIC_URL }}js/jquery.svg.js"></script>
<script src="{{ STATIC_URL }}js/profile.js"></script-->
<script src="{{ STATIC_URL }}js/vendor/require-jquery.js"></script>
<script>
  require.config({
    baseUrl: '{{ STATIC_URL }}js/'
  });
  require(["profile"]);
</script>

{% endblock %}

{% block content %}
  <div class="viewport">
    <div class="graph" data-href-svg="{% url "profile_svg" filename=filename %}">
    </div>

    <button class="zoomin">+</button>
    <button class="zoomout">-</button>
  </div>
  <div class="info">
    <div class="current-node">
    </div>
    <form>
      <input name="query" type="text"></input>
      <button type="submit" class="search">Search</button>
    </form>
  </div>
  <script type="text/x-jquery-tmpl" id="searchResultsTmpl">
    {% verbatim %}
    <ul class="search-results">
      {{each(i,result) results}}
      <li data-node-id="${result.id}">${result.name}</li>
      {{/each}}
    </ul>
    {% endverbatim %}
  </script>

{% endblock %}
