{% extends "base.html" %}
{% load verbatim %}
{% load url from future %}

{% block title %}
Profile : {{filename}}
{% endblock %}

{% block extra_head %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/profile.css" />
<script src="{{ STATIC_URL }}js/vendor/require-jquery.js"></script>
<script>
  require.config({
    baseUrl: '{{ STATIC_URL }}js/'
  });
  require(["profile"]);
</script>

{% endblock %}

{% block content %}
  <div class="viewport">
    <div class="graph" data-href-svg="{% url "profile_svg" filename=filename %}">
    </div>

    <button class="zoomin">+</button>
    <button class="zoomout">-</button>
  </div>
  <div class="info">
    <div class="search">
      <h2>Search</h2>
      <form>
        <input name="query" type="text"></input>
        <button type="submit">Search</button>
      </form>
    </div>
  </div>

  <script type="text/x-jquery-tmpl" id="searchResultsTmpl">
    {% verbatim %}
    <ul class="search-results node-list">
      {{each(i,result) results}}
      <li data-node-id="${result.id}">${result.name}</li>
      {{/each}}
    </ul>
    {% endverbatim %}
  </script>

  <script type="text/x-jquery-tmpl" id="nodeInfoTmpl">
    {% verbatim %}
    <div class="node-info">
      <span class="current-node-name">${name}</span>

      <h3>Called By</h3>
      <ul class="callers node-list">
        {{each(i,caller) callers}}
        <li data-node-id="${caller.id}">${caller.name}</li>
        {{/each}}
      </ul>

      <h3>Calls</h3>
      <ul class="calls node-list">
        {{each(i,callee) calls}}
        <li data-node-id="${callee.id}">${callee.name}</li>
        {{/each}}
      </ul>
    </div>
    {% endverbatim %}
  </script>

{% endblock %}
